main {
    height: -moz-calc(100% - 50px);
    height: -webkit-calc(100% - 50px);
    height: -ms-calc(100% - 50px);
    height: -o-calc(100% - 50px);
    height: calc(100% - 50px);
}

main .playlists {
    list-style: none;
    padding: 0px;
    max-width: 420px;
    margin-left: 50px;
}

main .playlists li {
    margin: 20px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
}

main .playlists li .playlist-picture-conatiner {
    position: relative;
}

main .playlists li:hover .playlist-picture-conatiner::before {
    content: "select playlist";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

main .playlists li .playlist-info {
    width: 280px; 
}


main .playlists li p {
    margin: 5px 0px 0px 0px;
    padding: 0px 5px;
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap; 
    text-overflow: ellipsis;
}

main .playlists li h3 {
    margin: 0px;
    padding: 0px 5px;
    overflow: hidden;
    white-space: nowrap; 
    text-overflow: ellipsis;
}


@media screen and (max-width: 470px) { 
    main .playlists {
        margin: auto;
    }

}

@media screen and (max-width: 420px) {
    main .playlists li {
        text-align: center;
        margin: 30px 0px;
    }

    main .playlists li p {
        margin: 0px;
    }

    main .playlists {
        margin: auto;
    }
}