main {
    height: -moz-calc(100% - 50px);
    height: -webkit-calc(100% - 50px);
    height: -ms-calc(100% - 50px);
    height: -o-calc(100% - 50px);
    height: calc(100% - 50px);
}

main .yt-items {
    list-style: none;
    padding: 0px 20px;
}

main .yt-items li {
    margin: 20px 0px;
    display: flex;
    height: 138px;
}

main .yt-items li.message {
    margin-top: 40px;
    height: auto;
}
main .yt-items li.message p {
    font-weight: bold;
    word-spacing: 2px;
    margin: 0px;
}

main .yt-img-container {
    position: relative;
    flex: none;
    height: 138px;
    width: 246px;
}

main .yt-img-container img {
    height: 100%;
    width: 100%;
}

main .yt-data-container {
    width: -moz-calc(100% - 246px);
    width: -webkit-calc(100% - 246px);
    width: -ms-calc(100% - 246px);
    width: -o-calc(100% - 246px);
    width: calc(100% - 246px);
    min-width: 246px;
    max-width: 500px;
    height: 100%;    
    display: flex;
    flex-direction: column;
}

main .yt-data-title {
    text-decoration: none;
    color: #333;
    width: 100%;
    margin: 0px;
    padding: 0px 5px;
    flex: none;
    overflow: hidden;
    white-space: nowrap; 
    text-overflow: ellipsis;
    line-height: 24px;
}

main .yt-data-title a {
    text-decoration: none;
    color: inherit;
}


main .yt-items.playlist li {
    cursor: pointer;
}

main .yt-items.playlist li:hover .yt-img-container::before {
    content: "select playlist";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

main .yt-data-metadata-container {
    display: flex;
    flex-wrap: wrap;
}

main .yt-data-metadata-container p {
    margin: 0px;
    padding: 0px;
}

main .yt-data-metadata-dataholder {
    color: #555;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap; 
    text-overflow: ellipsis;
}

main .yt-data-metadata {
    width: 100%;
    padding: 0px 5px;
    font-size: 12px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

main .yt-data-metadata .yt-data-description {
    overflow: hidden;
    color: grey;
    margin: 10px 0 0 0;
    line-height: 18px;
    max-height: 90px;
}

main .yt-delete-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 48px;
}

main .yt-delete-container img {
    cursor: pointer;
}

main .filter-container {
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 1px 3px rgba(0,0,0,0.25);
}

main .filter-container .filter {
    margin: 20px;
    height: 50px;
    display: flex;
    position: relative;
    align-items: center;
    min-width: 200px;
    max-width: 250px;
    padding-left: 30px;
    font-weight: bold;
}
main .filter-container .filter.selected {
    background-color: #eee;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

main .filter-container .filter img {
    position: absolute;
    top: 12.5px;
    left: 5px;
    cursor: pointer;
}

main .filter-container .filter span {
    cursor: pointer;
}

main .filter-container .filter input {
    margin: 0px 2px;
    width: 40px;
}

main .filter-container .filter button {
    border: none;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    main .yt-items li {
        display: block;
        height: 180px;
        margin-bottom: 40px;
    }

    main .yt-items li.playlist-item {
        height: auto;
    }

    main .yt-img-container {
        margin: auto;
    }

    main .yt-data-container {
        width: 246px;
        margin: auto;
    }

    main .yt-data-title {
        padding: 0px;
    }

    main .yt-data-metadata {
        padding: 0px;
    }

    main .yt-data-container {
        height: -moz-calc(100% - 138px);
        height: -webkit-calc(100% - 138px);
        height: -ms-calc(100% - 138px);
        height: -o-calc(100% - 138px);
        height: calc(100% - 138px);
    }

    
    main .filter-container {
        justify-content: center;
    }
}
