nav {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.user-status {
    width: 150px;
    height: 100%;
    float: right;
    text-align: center;
    position: relative;
}

.user-status .sign-in {
    line-height: 50px;
}

.user-status .img-container {
    width: 50px;
    height: 50px;
    display: block;
    margin: auto;
    position: relative;
    border: none;
    padding: 0;
}
.user-status .img-container:focus {
    outline: none;
}

.user-status .img-container img {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    box-sizing: content-box;
    position: absolute;
    top: 7.5px;
    left: 7.5px;
    cursor: pointer;
}

.user-status .img-container:focus img { 
    border: 2px solid #065fd4;
    top: 5.5px;
    left: 5.5px;
}

.nav-account-info {
    position: absolute;
    top: 50px;
    right: 0px;
    width: 150px;
    height: 100px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.nav-account-info button {
    border: none;
    font-size: 16px;
    color: red;
    cursor: pointer;
}

.playlist-data-handler {
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    min-width: 70px;
}

.playlist-data-handler img {
    cursor: pointer;
}